@{ ViewBag.Title = "Index"; }
<h2>
    Index</h2>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="full_width clear">
    @Html.Partial("_LeftMenu")
    <div class="block clear loginBlock">
        <h2>Timesheet</h2>
        @using(Html.BeginForm("")) {
        <div>
        <table>
        <tr>
        <th>#</th>
        <th>Week Ending</th>
        <th>Date</th>
        <th>Project</th>
        <th>Case/RFC/Incident Number</th>
        <th>Title</th>
        <th>Task</th>
        <th>Actual hours</th>
        <th>Client billable hours</th>        
        </tr>
        <tr>
        <td>Autoincremented number</td>
        <td></td>
        <td></td>
        <td>dropdown binding</td>
        <td></td>
        <td></td>
        <td>@Html.DropDownList( <div class="leftMenu">
            <ul>
             @foreach(var pages in @Model.GetChildPages(@Model.CurrentPage))
                {
                <li class="@(Model.IsCurrentPageActive(pages) == true ? "active" : "")"><a href="@UrlResolver.Current.GetUrl(@pages.ContentLink)">@pages.Name</a></li>
                }
            </ul>
        </div>)</td>
        <td></td>
        <td></td>
        </tr>
        </table>
        </div>}
    </div>
</div>
